<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.riti.rfid.dao.RfidOrderRecentDAO">
	<insert id="addRfidOrderRecent" parameterType="com.riti.rfid.entity.RfidOrder">
		REPLACE INTO
		rfidOrderRecent
		(
		rfidUserId,
		rfidOrderNum,
		rfidIdName,
		rfidOrderRecentTime,
		rfidOrderStockType
		)
		VALUES
		(
		#{rfidUserId},
		#{rfidOrderNum},
		#{idName},
		#{rfidOrderCreateTime},
		#{stockType}
		)
	</insert>

	<select id="findRfidOrderRecentById" parameterType="com.riti.rfid.entity.QueryRfidParams"
		resultMap="rfidOrder">
		SELECT
		rfidUserId as rfidUserId,
		rfidIdName as
		idName,
		rfidOrderNum as
		rfidOrderNum,
		rfidOrderRecentTime as
		rfidOrderCreateTime,
		rfidOrderStockType as stockType
		FROM
		rfidOrderRecent
		<where>
			<!-- 此处为联合查询 -->
			<if test="stockType==0">
				and rfidOrderStockType = #{stockType}
			</if>
			<if test="stockType==1"><!--查询在途吨桶 -->
				and rfidOrderStockType = #{stockType}
			</if>
			<if test="stockType==5"><!--查询（长兴）在库吨桶 -->
				and <![CDATA[ rfidOrderStockType='0' ]]>
				and rfidUserId = (select
				rfidUserId from rfidUser where <![CDATA[ rfidUserName='长兴化工' ]]>)
			</if>
			<if test="stockType==4"><!--查询客户吨桶 -->
				and <![CDATA[ rfidOrderStockType='0' ]]>
				and rfidUserId != (select rfidUserId from rfidUser where <![CDATA[ rfidUserName='长兴化工' ]]>)
			</if>
			<if test="stockType==6"><!--查询总仓（长兴）吨桶 -->
			</if>
			<if test="stockType==3"><!--按照id查询 -->
				and 
				<![CDATA[ rfidOrderStockType='0' ]]>
				and
				rfidUserId=#{uid}
			</if>
			<if test="true">
				and
				rfidOrderRecentTime BETWEEN
				#{startTime} and #{endTime}
				ORDER BY
				rfidOrderRecentTime DESC
				LIMIT
				#{startPage}, #{endPage}
			</if>
		</where>

	</select>
	<resultMap type="com.riti.rfid.entity.RfidOrder" id="rfidOrder">
		<result column="rfidUserId" property="rfidUserId" />
		<association property="rfidUser" javaType="com.riti.rfid.entity.RfidUser"
			select="findRfidUser" column="rfidUserId">
		</association>
	</resultMap>
	<select id="findRfidUser" parameterType="string"
		resultType="com.riti.rfid.entity.RfidUser">
		SELECT
		rfidUserId as rfidUserId,
		cool_user_id as userId,
		rfidUserName as rfidUserName,
		rfidUserLocation as
		rfidUserLocation,
		rfidUserCreatTime as
		rfidUserCreatTime
		FROM
		rfidUser
		WHERE
		rfidUserId=#{rfidUserId}
	</select>

	<select id="getRfidRecentCount" parameterType="com.riti.rfid.entity.QueryRfidParams"
		resultType="int">
		SELECT
		count(*)
		FROM
		rfidOrderRecent
		<where>

			<if test="stockType==4"><!--分厂 -->
				and <![CDATA[ rfidOrderStockType='0' ]]>
				and rfidUserId != (select rfidUserId from rfidUser where <![CDATA[ rfidUserName='长兴化工' ]]>)
			</if>
			<if test="stockType==0"><!--库中 -->
				and rfidOrderStockType = #{stockType}
			</if>
			<if test="stockType==5"> <!--总厂 在库 -->
				and <![CDATA[ rfidOrderStockType='0' ]]>
				and rfidUserId = (select
				rfidUserId from rfidUser where <![CDATA[ rfidUserName='长兴化工' ]]>)
			</if>
			<if test="stockType==6"><!--查询总仓（长兴）吨桶 -->
			</if>
			<if test="stockType==1"><!-- 在途 -->
				and rfidOrderStockType = #{stockType}
			</if>
			<if test="stockType==3"><!--按照id查询 -->
				and 
				<![CDATA[ rfidOrderStockType='0' ]]>
				and
				rfidUserId=#{uid}
			</if>
			<if test="true">
				and
				rfidOrderRecentTime BETWEEN
				#{startTime} and
				#{endTime};
			</if>
		</where>
	</select>


</mapper>